.termandCondition {
    width: 100%;

    .terms {
        width: 100%;

        position: absolute;
        top: 0;
        margin-bottom: 10px;

        .back {
            padding-top: 100px;
            background-color: #ffbb80;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // position: absolute;

            img {
                width: 35%;
            }
        }
    }

    .container {
        width: 75%;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;


        .termHeading {
            padding-top: 48px;
            color: #000;
            font-weight: 600;
            margin-bottom: 50px;
            font-size: 32px;
        }

        .small {
            font-size: 14px;
        }

        .para1 {
            margin: 40px 0 80px 0;

            .para-heading {
                font-weight: 600;
                font-size: 25px;
                color: #ff7700;
                margin-bottom: 20px;
            }

            .para {
                font-size: 14px;
                line-height: 30px;
                color: gray;
            }
        }
    }
}


@media (max-width: 480px) {
    .termandCondition {
        width: 100%;

        .terms {
            width: 100%;

            position: absolute;
            top: 0;
            margin-bottom: 10px;

            .back {
                padding-top: 35px;
                background-color: #ffbb80;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                // position: absolute;

                img {
                    width: 100%;
                }
            }
        }

        .container {
            width: 100%;
            margin-top: 30%;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;


         

        }
    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .termandCondition {
        width: 100%;

        .terms {
            width: 100%;

            position: absolute;
            top: 0;
            margin-bottom: 10px;

            .back {
                padding-top: 35px;
                background-color: #ffbb80;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                // position: absolute;

                img {
                    width: 100%;
                }
            }
        }

        .container {
            width: 100%;
            margin-top: 40%;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;         
        }
    }
}