.eventAndNews {
    margin-top: 2rem;

    .small-text {
        text-align: center;
        color: #000;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .heading {
        text-align: center;
    }

    .circle {
        position: absolute;
        z-index: -1;
        margin-top: 44px;
    }

    .event-card {
        margin-left: auto;
        margin-top: 3rem;
        display: flex;
        overflow-x: scroll;
        grid-gap: 20px;
        width: 92%;

        .event {
            border-radius: 31px;
            border: 1px solid #F8941F;
            background: #FFF;
            width: 463px;

            .img {
                img {
                    width: 463px;
                    height: 308px;
                }
            }

            .border {
                width: 71px;
                height: 71px;
                border-radius: 50%;
                border: 2px dashed #F5841F;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-top: -40px;
                left: 60%;

                .data {
                    background-color: #FFF;
                    width: 62px;
                    height: 62px;
                    border: 2px solid #F5841F;

                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }

            .title {
                color: #898989;
                font-size: 30px;
                font-weight: 700;
                padding: 20px;
            }

            .para {
                color: #898989;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                padding: 0 20px;
            }

            .link {
                margin-top: 20px;
                padding-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;


                a {
                    text-decoration: none;
                    color: #1F4282;
                    font-size: 10px;
                    font-weight: 700;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}



@media (max-width: 480px) {

    .eventAndNews {
        margin-top: 2rem;
    
        .small-text {
            text-align: center;
            color: #000;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    
        .heading {
            text-align: center;
        }
    
        .circle {
            height: 70vh;
        }
    
        .event-card {
            margin-left: auto;
            margin-top: 3rem;
            display: flex;
            overflow-x: scroll;
            grid-gap: 20px;
            width: 92%;
    
            .event {
                border-radius: 31px;
                border: 1px solid #F8941F;
                background: #FFF;
                width: 463px;
    
                .img {
                    img {
                        width: 300px;
                        height: 200px;
                    
                    }
                }
    
                .border {
                    width: 71px;
                    height: 71px;
                    border-radius: 50%;
                    border: 2px dashed #F5841F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    margin-top: -40px;
                    left: 60%;
    
                    .data {
                        background-color: #FFF;
                        width: 62px;
                        height: 62px;
                        border: 2px solid #F5841F;
    
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
    
                .title {
                    color: #898989;
                    font-size: 30px;
                    font-weight: 700;
                    padding: 20px;
                }
    
                .para {
                    color: #898989;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    padding: 0 20px;
                }
    
                .link {
                    margin-top: 20px;
                    padding-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
    
    
                    a {
                        text-decoration: none;
                        color: #1F4282;
                        font-size: 10px;
                        font-weight: 700;
                    }
                }
            }
    
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    
    

}