.publication {
    height: 54px;
    background: #1F4282;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
text-align: center;
}


@media (max-width: 480px) {
    .publication {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .publication {
        font-size: 13px;
    }

}
