.product-carousel {
    position: relative;
    overflow: hidden;
    // padding: 26px;

    .product-container {
        padding: 0 10px;
        display: flex;
        overflow-x: hidden;
        scroll-behavior: smooth;

        .carousel-item {

            img {
                width: 100vw;
                height: 75vh;
                padding: 0 10px;
            }

        }

        .text {
            position: absolute;
            top: 145px;
            left: 200px;
            width: 41%;

            .small {
                font-size: 15px;
                font-weight: 700;
                color: #6b97e8;
            }

            h3 {
                color: #6b97e8;;
                font-size: 52px;
                font-weight: 800;
            }

            p {
                color: #4E4E4E;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
}


.pre-btn,
.next-btn {
    border: none;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.pre-btn {
    position: absolute;
    left: 120px;
}

.next-btn {
    right: 120px;
}

.next-btn p,
.pre-btn p {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(183 181 179);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .product-carousel {

        .product-container {

            padding: 0 0px;

            .carousel-item {


                img {
                    width: 100vw;
                    height: 30vh;
                    padding: 0 10px;
                }

            }

            .text {
                top: 50px;
                left: 45px;
                width: 60vw;
                .small {
                    font-size: 10px;

                }

                h3 {
                    font-size: 27px;
                }

                p {
                    display: none;
                }
            }
        }
    }


    .pre-btn,
    .next-btn {
        border: none;
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
    }

    .pre-btn {
        position: absolute;
        left: 0;
    }

    .next-btn {
        right: 0;
    }

    .next-btn p,
    .pre-btn p {
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(183 181 179);
        border-radius: 50%;
        color: rgb(0, 0, 0);
        width: 30px;
        height: 30px;
        cursor: pointer;
    }



}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .product-carousel {

        .product-container {
            padding: 0 0px;

            .carousel-item {


                img {
                    width: 100vw;
                    height: 50vh;
                    padding: 0 10px;
                }

            }

            .text {
                top: 110px;
                left: 65px;
                width: 290px;

                .small {
                    font-size: 15px;

                }

                h3 {
                    font-size: 34px;

                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .pre-btn {
        position: absolute;
        left: 0;
    }

    .next-btn {
        right: 0;
    }


}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1200px) {
    .product-carousel {

        .product-container {
            padding: 0 0px;

            .carousel-item {


                img {
                    width: 100vw;
                    height: 60vh;
                    padding: 0 10px;
                }

            }

            .text {
                top: 110px;
                left: 175px;
                width: 290px;

                .small {
                    font-size: 15px;

                }

                h3 {
                    font-size: 34px;

                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .pre-btn {
        position: absolute;
        left: 50px;
    }

    .next-btn {
        right: 50px;
    }

}