.topFeature {
    margin-top: 3rem;
    text-align: center;


    p {
        width: 512px;
        margin: auto;
        margin-top: 40px;
        color: #000;
        font-size: 15px;
        font-weight: 400;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        gap: 30px;


        .card-2 {
            width: 414.158px;
            padding-bottom: 30px;
            border-radius: 15px;
            border: 1px solid rgba(31, 66, 130, 0.26);
            background: rgba(255, 255, 255, 0.64);
            backdrop-filter: blur(21.5px);

            .title {
                color: #1F4282;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 20px;
                margin-top: 10px;
            }

            .para {
                color: #000;
                font-size: 11px;
                width: 379px;
                font-weight: 400;
                line-height: 25px;
                margin: auto;
                padding: 10px;
            }

            .link {
                margin-top: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .learn {
                    color: #1F4282;
                    font-size: 10px;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }
}

.read-or-hide {
    cursor: pointer;
}


@media (max-width: 480px) {
    .topFeature {
        p {
            width: 100%;
        }

        .box {
            flex-direction: column;
        }
    }


}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .topFeature {
        p {
            width: 100%;
        }

        .box {
            flex-direction: column;
        }
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1050px) {
    .topFeature {
        p {
            width: 100%;
        }

        .box {
            flex-wrap: wrap;
        }
    }
}