.contactBanner {
    width: 100%;


    .background-img {
        width: 100%;

        img {
            width: 100%;
            height: 70vh;
            background: linear-gradient(322deg, rgba(255, 162, 0, 0) 32%, rgba(214, 129, 0, 1) 100%);
            position: relative;


        }

        .title {
            top: 45%;
            font-size: 60px;
            width: 77%;
            margin: auto;
            position: absolute;
            left: 10%;
            font-weight: 700;
            color: #F5841F;
            text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
        }
    } 
}


@media (max-width: 480px) {
    .contactBanner {
        width: 100%;
    
    
        .background-img {
            width: 100%;
    
            img {
                width: 100%;
                height: 35vh;
                background: linear-gradient(322deg, rgba(255, 162, 0, 0) 32%, rgba(214, 129, 0, 1) 100%);
                position: relative;
    
    
            }
    
            .title {
                top: 35%;
                font-size: 40px;
                width: 77%;
                margin: auto;
                position: absolute;
                left: 5%;
                font-weight: 700;
                
            }
        } 
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .contactBanner {
        width: 100%;
    
    
        .background-img {
            width: 100%;
    
            img {
                width: 100%;
                height: 35vh;
                background: linear-gradient(322deg, rgba(255, 162, 0, 0) 32%, rgba(214, 129, 0, 1) 100%);
                position: relative;
    
    
            }
    
            .title {
                top: 35%;
                font-size: 40px;
                width: 77%;
                margin: auto;
                position: absolute;
                left: 0;
                font-weight: 700;
                
            }
        } 
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1050px) {
}